.glide {
    max-width: 1140px;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}
.glide__track {
    width: 100%;
    overflow: hidden;
}
.glide__slides {
    display: flex;
    justify-content: center;
    align-items: center;
}
.glide__slide {
    text-align: center;
    padding: 4px;
    background-color: white;
    border-radius: 5px;
}
.glide__slide h4 {
    color: cornflowerblue;
    margin-bottom: 15px;
    margin-top: 2px;
}
.glide__slide p {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    font-size: 15px;
    margin: 2px;
}
.content {
    text-align: center;
    background-color: #f0f0f0;
    width: 105.6%; 
    height: 475px;
}
.content h3 {
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 5px;
}
.glide__arrows .glide__arrow--left {
    left: -50px;
    top: 160px;
}
.glide__arrows .glide__arrow--right {
    right: -50px;
    top: 160px;
}
.glide__arrows .glide__arrow {
    height: 30px;
    width: 30px;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    padding: 0;
    border-radius: 50%;
    font-family: 'Manrope', sans-serif;
}
.glide__arrows .glide__arrow::before {
    content: "";
    display: inline-block;
    height: 2px;
}
.glide__arrows .glide__arrow span {
    position: relative;
    top: -2px;
}
.glide__bullets {
    position: relative;
    top: 5px;
    margin-right: 1150px;
}
.glide__bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    position: relative;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
}
.glide__bullet.active {
    background-color: black; 
}